.cover__title {
    position: relative;
    margin: 0 0 32px;
    z-index: 2;
    text-align: center;
    max-width: 560px;
    font-size: 72px;
    line-height: 1.05;
    font-weight: 900;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
}


@media screen and (max-width: 650px) {
    .cover__title {
        font-size: 52px;
    }
}

@media screen and (max-width: 500px) {
    .cover__title {
        font-size: 42px;
        max-width: 80%;
    }
}

@media screen and (max-width: 370px) {
    .cover__title {
        font-size: 36px;
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        margin: 0 0 16px;
        max-width: 288px;
        font-size: 32px;
        line-height: 1.09;
    }
}