.place {
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 46.74% 49.2%;
    gap: 48px 4.06%;
}

@media screen and (max-width: 768px) {
    .place {
        margin-bottom: 73px;
    }
}

@media screen and (max-width: 660px) {
    .place {
        margin: 0 auto 73px;
        max-width: calc(100% - 2*24px);
        grid-template-columns: 100%;
        gap: 32px;
    }
}


@media screen and (max-width: 320px) {
    .place {
        margin-bottom: 50px;
        max-width: 100%;
        grid-template-columns: 100%;
        gap: 32px;
    }
}