.place__url-heading {
    margin: 0 0 12px 0;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 170%;
    font-weight: 400;
    color: #AAA;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 320px) {
    .place__url-heading {
        margin: 0 16px 12px;
    }
}